<div class="homepage-index">
  <div class="spotlight">
  <section class="spotlight">
    <h2 class="title-prefix">Pizza Spotlight: </h2><h2 class="title-text spotlight"><%= link_to @spotlight.name, pizza_path(@spotlight.id), class: "title-text" %></h2>
  </section>
  <article class="spotlight">
    <p><%= @spotlight.votes.length %> votes - Topped with <%= "#{@spotlight.sauce}, #{@spotlight.cheese}, #{@spotlight.toppings}" %></p>
  </article>
  <hr>
  </div>

  <section class="top-pizzas">
    <article class="top-crusts">
      <%= render partial: "top", locals: { crust: "thin", crust_name: "Thin" } %>
    </article>

    <article class="top-crusts">
      <%= render partial: "top", locals: { crust: "thick", crust_name: "Thick" } %>
    </article>

    <article class="top-crusts">
      <%= render partial: "top", locals: { crust: "deep-dish", crust_name: "Deep Dish" } %>
    </article>
  </section>
</div>