
<% if pizzas.length > 0 %>
  <table class="table">
    <tr>
      <th>Votes</th>
      <th>Name</th>
      <th>Sauce</th>
      <th>Cheese</th>
      <th>Toppings</th>
      <th>Upvote</th>
    </tr>
    <% pizzas.each do |pizza| %>
      <tr>
        <td><%= pizza.votes.length %></td>
        <td><%= link_to pizza.name, pizza_path(pizza.id), class: "title-text table-text" %></td>
        <td><%= pizza.sauce %></td>
        <td><%= pizza.cheese %></td>
        <td><%= pizza.toppings %></td>
        <td><button class="button btn btn-primary"><%= "Upvote" %></button></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Nothing to see here!</p>
<% end %>