<table class="table">
  <tr>
    <th>Votes</th>
    <th>Name</th>
    <th>Sauce</th>
    <th>Cheese</th>
    <th>Toppings</th>
    <th>Upvote</th>
  </tr>
  <% if !pizzas.nil? && pizzas.length > 0 %>
    <% pizzas.each do |pizza| %>
      <tr>
        <td><%= pizza.votes.length %></td>
        <td><%= link_to pizza.name, pizza_path(pizza.id), class: "title-text table-text" %></td>
        <td><%= pizza.sauce %></td>
        <td><%= pizza.cheese %></td>
        <td><%= pizza.toppings %></td>
        <% if session[:user_id] %>
          <td><%= button_to "Upvote", user_votes_path(session[:user_id]), params: { pizza_id: pizza.id}, class: "button btn btn-primary", method: :post %></td>
        <% else %>
          <td><%= button_to "Login to Upvote", login_path, class: "button btn btn-primary", method: :get %></td>
      <% end %>
      </tr>
    <% end %> 
  <% end %>
</table>