<div class="pizza">
  <h2 class="title-text"><%= @pizza.name %></h2>
  <p><strong>Sauce: </strong><%= @pizza.sauce %></p>
  <p><strong>Cheese: </strong><%= @pizza.cheese %></p>
  <p><strong>Toppings: </strong><%= @pizza.toppings %></p>

  <section class="pizza-show__actions">
    <button class="button btn btn-primary"><%= link_to "Back to Pizza Ranks", root_path %></button>
    <button class="button btn btn-primary"><%= link_to "Edit", edit_pizza_path(@pizza.id) %></button>
    <button class="button btn btn-primary"><%= link_to "Upvote(TODO)", pizza_path(@pizza.id) %></button>
    <button class="button btn btn-danger"><%= link_to "Delete", pizza_path(@pizza.id), method: :delete %></button>
  </section>
  <section class="pizza-votes">
  <br>
    <h3 class="table-title"><%= @pizza.votes.length %> Votes for <%= @pizza.name %></h3>
      <table class="table">
        <tr>
          <th>User</th>
          <th>Date</th>
        </tr>
        <% if !@pizza.votes.nil? && @pizza.votes.length > 0 %>
        <% @pizza.votes.each do |vote| %>
          <td><%= vote.user %></td>
          <td><%= vote.created_at %></td>
        <% end %>
      <% end %>
    </table>
    <hr>
  </section>
</div>