<div class="pizza-show">
  <h2 class="title-text"><%= @pizza.name %></h2>
  <p><strong>Sauce: </strong><%= @pizza.sauce %></p>
  <p><strong>Cheese: </strong><%= @pizza.cheese %></p>
  <p><strong>Toppings: </strong><%= @pizza.toppings %></p>

  <section class="pizza-show__actions">
    <button class="button pizza-show-button"><%= link_to "Back to Pizza Ranks", root_path %></button>
    <button class="button pizza-show-button"><%= link_to "Edit", edit_pizza_path(@pizza.id) %></button>
    <button class="button pizza-show-button"><%= link_to "Upvote(TODO)", pizza_path(@pizza.id) %></button>
    <button class="button delete pizza-show-button"><%= link_to "Delete", pizza_path(@pizza.id), method: :delete %></button>
  </section>
  <section class="pizza-votes">
  <br>
    <h4 class="table-title"><%= @pizza.votes.length %> Votes for <%= @pizza.name %></h4>
    <% if @pizza.votes.length > 0 %>
      <table class="table">
        <tr>
          <th>User</th>
          <th>Date</th>
        </tr>
        <% @pizza.votes.each do |vote| %>
          <td><%= vote.user %></td>
          <td><%= vote.created_at %></td>
        <% end %>
      </table>
    <% else %>
      <p>There are no votes for this pizza yet.</p>
    <% end %>
  </section>
</div>