<!DOCTYPE html>
<html>
  <head>
    <title>PizzaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="application-header">
      <div class="application-title">
        <h2><%= link_to "Pizza Ranker", root_path %></h2>
        <div class="vertical-line"></div>
        <h3>Now <em>you</em> can decide whether pineapple belongs on pizza!</h3>
      </div>
      <nav class="application-nav">
        <ul class="nav application-site-nav">
          <li><%= link_to "View Top Pizzas", root_path %></li>
          <li><%= link_to "View All Pizzas", pizzas_path %></li>
          <li><%= link_to "Design a New Pizza", new_pizza_path %></li>
          <li><%= link_to "View All Users", users_path %></li>
        </ul>
        <ul class="nav application-user-nav">
          <li><button class="button application-nav-button"><%= link_to "Logged In As #{"TODO"}", users_path %></button></li>
          <li><button class="button application-nav-button"><%= link_to "Log Out", users_path %></button></li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>© 2020 Alicia Elizabeth Combs</footer>
  </body>
</html>
