<!DOCTYPE html>
<html>
  <head>
    <title>PizzaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Gudea:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="application-header">
      <div class="application-title">
        <h1><%= link_to "Pizza Ranker", root_path %></h1>
        <h3>Now <em>you</em> can decide whether pineapple belongs on pizza!</h3>
      </div>
      <nav class="application-nav">
        <ul class="nav application-site-nav">
          <li><%= link_to "View Top Pizzas", root_path %></li>
          <li><%= link_to "View All Pizzas", pizzas_path %></li>
          <li><%= link_to "Design a New Pizza", new_pizza_path %></li>
          <li><%= link_to "View All Users", users_path %></li>
        </ul>
        <ul class="nav application-user-nav">
      
          <% if session[:user_id] %>
            <li><button class="button btn btn-primary">
              <%= link_to "Logged in as #{ User.find_by(id: session[:user_id]).username }", current_user_path %>
            </button></li>
            <li><button class="button btn btn-primary"><%= link_to "Log Out", logout_path, method: :post %></button></li>
          <% else %>
            <li><button class="button btn btn-primary"><%= link_to "Login", login_path %></button></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <main>
      <div class="flash">
        <% flash.each do |name, message| %>
          <div class="<%= name %>">
            <%= message %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </main>
    <footer class="footer">© 2020 Alicia Elizabeth Combs</footer>
  </body>
</html>
