<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="homepage-title">
        <h1><%= link_to "Pizza Ranker", root_path %></h1>
        <p>Now you can decide whether pineapple belongs on pizza!</p>

        <nav class="homepage-nav">
        <ul class="nav homepage-site-nav">
          <li><%= link_to "View Top Pizzas", root_path %></li>
          <li><%= link_to "View All Pizzas", pizzas_path %></li>
          <li><%= link_to "Invent a New Pizza", new_pizza_path %></li>
          <li><%= link_to "View All Users", users_path %></li>
        </ul>
        <ul class="nav homepage-user-nav">
          <li><%= link_to "Logged In As #{"insert-user-here"}", users_path %></li>
          <li><%= link_to "Log Out", users_path %></li>
        </ul>
      </nav>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>© 2020 Alicia Combs</footer>
  </body>
</html>
